/* FAQAccordion.css */
h2,
h3 {
    font-family: -apple-system,
        BlinkMacSystemFont,
        Segoe UI,
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        Fira Sans,
        Droid Sans,
        Helvetica Neue,
        sans-serif !important;
}

.faq-container {
    /* width: 100%; */
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.faq-category {
    margin-bottom: 20px;
}

.faq-category h3 {
    font-size: 1.5rem;
    cursor: pointer;
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.faq-category h3:hover {
    background-color: #e0e0e0;
}

.faq-items {
    margin-top: 10px;
    padding-left: 20px;
    overflow: hidden;
    transition: height 0.5s ease-out;
}

.faq-item {
    margin-bottom: 10px;
}

.faq-item strong {
    display: block;
    font-weight: bold;
}

.faq-item p {
    padding-left: 10px;
    font-size: 1rem;
    line-height: 1.5;
    color: #555;
    margin-top: 5px;
}